*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}
body{
    background-color: rgb(137, 194, 23);
}

h1{
    text-align: center;
    color: white;
    font-size: 5rem;
    border-bottom: 3px solid white;
}

